<p id="notice"><%= notice %></p>

<h1>Flats</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="form-inline">
        <%= simple_form_for :search, url: flats_path, method: :get, remote: true do |f| %>
        <%= f.input :address, placeholder: 'Where do you want to try ?', label: false %>
        <%= f.input :date, as: :date, label: false%>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Address</th>
      <th>Description</th>
      <th>Stars</th>
      <th>User</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flats.each do |flat| %>
      <tr>
        <td><%= flat.title %></td>
        <td><%= flat.address %></td>
        <td><%= flat.description %></td>
        <td><%= flat.stars %></td>
        <td><%= flat.user_id %></td>
        <td><%= flat.latitude %></td>
        <td><%= flat.longitude %></td>
        <td><%= link_to 'Show', flat %></td>
        <td><%= link_to 'Edit', edit_flat_path(flat) %></td>
        <td><%= link_to 'Destroy', flat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
<div class="col-sm-4">


<% @flats.each do |f| %>
  <%= render "flat", flat: f %>
<% end %>
</div>
<br>
<div class="col-sm-4">
      <div id="map" style="width: 100%; height: 600px"></div>

      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
        <% end %>
      <% end %>

</div>

<%= link_to 'New Flat', new_flat_path %>
